<html>
<head>
  <title>Voting For Your Question</title>
</head>
<body>
  <h1>Voting For Your Question<h1>
  <form method="post">
    <input id="new-question" name="new-question" placeholder="Submit a question to vote!">
    {% csrf_token %}
  </form>
  <form method="post">
    <input id="new-vote" name="new-vote" placeholder="Submit a vote for the question!">
    {% csrf_token %}
  </form>
  <table id="questions-table">
      <tr><td>{{ new_question }}</td></tr>
  </table>
  <table id="votes-table">
      <tr><td>1. {{ new_vote }}</td></tr>
  </table>
</body>
</html>
