<html>
<head>
  <title>Voting For Your Question</title>
</head>
<body>
  <h1>Voting For Your Question<h1>
  <form method="post" action="/question/new">
    <input id="new-question" name="new-question" placeholder="Submit a question to vote!">
    {% csrf_token %}
  </form>
  <table id="questions-table">
      {% for question in questions %}
      <tr><td><a href="{% url 'view_question' question.pk %}">{{ forloop.counter }}. {{ question.text }}</a></td></tr>
      {% endfor %}
  </table>
</body>
</html>
