<html>
<head>
  <title>Voting For Your Question</title>
</head>
<body>
  <h1>Voting For Your Question<h1>
  <form method="post" action="/question/new">
    <input id="new-question" name="new-question" placeholder="Submit a question to vote!">
    {% csrf_token %}
  </form>
  <form method="post" action="/">
    <input id="new-vote" name="new-vote" placeholder="Submit a vote for the question!">
    {% csrf_token %}
  </form>
  <table id="questions-table">
      <tr><td><a href="/">1. {{ new_question }}<a/></td></tr>
  </table>
  <table id="votes-table">
      {% for vote in votes %}
      <tr><td>{{ forloop.counter }}. {{ vote.text }}</td></tr>
      {% endfor %}
  </table>
</body>
</html>
